/*.white-background {
  background-color: gray;
}

.black-background{
  background-color: black;
}


.dog-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;*/

.box {
    margin: 12px;
    border: 2px solid orange;
    padding: 4px;
    
  }

.highlight {
  background-color: yellow;

}

.clickable {
    cursor: pointer;
    color: #0088cc;


  }

.clickable:hover {
    text-decoration: underline;
